.init-graph-canvas__wrapper {
  .init-graph-canvas__ghost-node {
    circle {
      stroke: $success-color;
      @extend .stroke-2;
      fill: none;
      stroke-dasharray: $default-dasharray;
    }

    text {
      font-size: 28px;
      fill: $success-color;
      user-select: none;
    }
  }

  .init-graph-canvas__ghost-edge {
    @extend .has-transition;
    z-index: 10;
    opacity: 0;

    & > .init-graph-canvas__ghost-edge-hover-area {
      stroke: transparent;
    }

    & > path:last-child {
      stroke: $success-color;
      stroke-dasharray: $default-dasharray;
    }

    &.show {
      opacity: 1;
    }
  }
}
