.queue-item__wrapper {
  &.disappearing {
    opacity: unset;
    .memory-block__wrapper {
      animation: slideLeftDownFade 0.75s ease forwards;
    }
  }

  &.appearing {
    animation: slideLeftIn 0.65s ease;
  }
}