.visual-container {
  border: $border-style;
  background-color: $background-light;

  .api-select {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
  
    .api-select__menu {
      z-index: 20;
    }
  }
  
}

.code-container {
  background-color: #272822;

  & > pre {
    @extend .pl-12;
  }
}