@import '../../styles/base.scss';

.pointer-link {
  .pointer-link__line {
    @extend .default-stroke-lighter;
    stroke-width: 2px;

    &.follow {
      stroke: $primary-color;
      stroke-width: 4px;
    }
  }

  .pointer-link__arrow {
    fill: lighten($primary-text-color, 15%);

    &.follow {
      fill: $primary-color;
    }
  }

  &.visited {
    .pointer-link__line {
      fill: $disable-background;
      opacity: 0.3;
    }
    .pointer-link__arrow {
      fill: $disable-text-color;
    }
  }
}
