@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideLeftIn {
  0% {
    opacity: 0.4;
    transform: translate(-30px);
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideLeftDownFade {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
    transform: translate(50px, 0px);
  }

  100% {
    opacity: 0;
    transform: translate(50px, 100px);
  }
}