@import '../../styles/base.scss';

.memory-block__wrapper {
  .memory-block__block {
    @extend .default-stroke;
    @extend .has-transition;
    fill: $background-dark-1;
    stroke-width: 1px;
  }

  .memory-block__text {
    @extend .has-transition;
    @extend .f-big-2;
  }

  &.visited {
    .memory-block__block {
      fill: $disable-background;
      opacity: 0.3;
    }

    .memory-block__text {
      fill: $disable-text-color;
    }
  }

  &.focus {
    .memory-block__block {
      fill: $primary-color-5;
      stroke: $primary-color;
    }

    .memory-block__text {
      // fill: white;
      fill: $primary-color;
    }
  }
}
