.canvas-container {
  height: 100%;
  width: 100vw;
  position: relative;

  #html-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .zoom-controller__wrapper {
    position: absolute;
    left: 50px;
    bottom: 50px;
  }
}
