.memory-block__wrapper {
  .memory-block__block {
    @extend .default-stroke;
    @extend .has-transition;
    @extend .stroke-2;
    fill: $background-light;
  }

  .memory-block__text {
    @extend .has-transition;
    @extend .f-big-2;
    font-weight: 400;
  }

  .memory-block__separate-line {
    @extend .default-stroke;
  }
  
  &.visited {
    .memory-block__block,
    .memory-block__separate-line {
      fill: $disable-background;
      opacity: 0.3;
    }

    .memory-block__text {
      fill: $disable-text-color !important;
    }
  }

  &.focus {
    .memory-block__block,
    .memory-block__separate-line {
      fill: $primary-color;
    }

    .memory-block__text {
      fill: $primary-color;

      &.value-text {
        font-weight: 600;
        fill: $white-text-color;
      }
    }
  }

  &.focus-to-delete {
    .memory-block__block,
    .memory-block__separate-line {
      fill: lighten($destructive-color, 30%);
      stroke: $destructive-color;
    }

    .memory-block__text {
      fill: $white-text-color;
    }
  }

  &.appearing {
    animation: fadeIn 0.65s ease;
  }
}
