.pointer-link {
  .pointer-link__line {
    @extend .default-stroke-lighter;
    stroke-width: 2px;
    fill: none;

    &.follow,
    &.highlight {
      stroke: $primary-color;
      fill: $primary-color !important;
      stroke-width: 3px;
    }

    &.highlight + .pointer-link__line {
      opacity: 0;
    }
  }

  &.visited {
    .pointer-link__line {
      fill: $disable-background;
      opacity: 0.3;

      &.follow {
        & + .pointer-link__line {
          opacity: 0;
        }
      }
    }
    .pointer-link__arrow {
      fill: $disable-text-color;
    }
  }

  &.following {
    .pointer-link__line:not(.follow) {
      opacity: 0.3;
    }
  }

  .pointer-link__arrow {
    fill: lighten($primary-text-color, 15%);

    &.follow {
      fill: $primary-color;
      opacity: 0.3;
    }
  }

  .pointer-link__start-dot {
    &.follow {
      fill: $primary-color;
    }

    &.visited {
      opacity: 0.3;
    }
  }
}
