$primary-color: rgb(0, 82, 204);
$primary-color-1: lighten($primary-color, 10%);
$primary-color-2: lighten($primary-color, 20%);
$primary-color-3: lighten($primary-color, 30%);
$primary-color-4: lighten($primary-color, 40%);
$primary-color-5: lighten($primary-color, 50%);


$background-light: rgb(255, 255, 255);
$background-dark-1: rgb(235, 235, 235);
$background-dark-2: darken($background-dark-1, 1%);
$background-dark-3: darken($background-dark-1, 2%);
$white-text-color: rgba(255, 255, 255, 0.85); // text color on colour background
$white-text-color-1: rgba(
  255,
  255,
  255,
  0.95
); // text color on colour background
$primary-text-color: rgba(28, 30, 33, 0.95); // major text color
$disable-background: rgba(9, 30, 66, 0.04);
$disable-background-1: rgba(9, 30, 66, 0.08);
$disable-text-color: rgba(165, 173, 186, 0.75);
