$primary-color: rgb(236, 100, 85);
$background-light: rgb(255, 255, 255);
$background-dark-1: rgb(235, 235, 235);
$background-dark-2: rgb(225, 225, 225);
$white-text-color: rgba(255, 255, 255, 0.85); // text color on colour background
$white-text-color-1: rgba(
  255,
  255,
  255,
  0.95
); // text color on colour background
$primary-text-color: rgba(28, 30, 33, 0.95); // major text color
