@import './color.scss';
@import './base.scss';
@import './components/main.scss';
@import './layout/main.scss';

html,
body {
  @extend .h-full;
  margin: 0;
  padding: 0;
}

.canvas-container {
  height: 45vh;
  width: 100vw;
}

* {
  font-size: 16px;
}